@import "../styles/mixins";
@import "../styles/fonts";

.blog-post-header {
  padding-bottom: 0;
  min-height: auto;

  h1 {
    padding: 1em 0;
  }
}

.blog-post-toc {
  margin-bottom: 8rem;
  h2 {
    margin-top: 0;
    font-size: 2rem;
  }
}

.blog-post {
  margin-bottom: 4em;

  :target::before {
    content: "";
    display: block;
    height: calc(var(--menu-height-scrolled) + 1em);
    margin-top: -calc(var(--menu-height-scrolled) + 1em);
  }

  h2 {
    margin-top: 3em;
    padding-top: 0;
  }

  h3 {
    margin-top: 2em;
    padding-top: 0;
  }

  figure {
    margin: 2em 0 5em 0;
  }

  figcaption {
    text-align: center;
    font-size: 80%;
    font-style: italic;
    padding-top: 1em;
  }

  li {
    margin-bottom: 1em;
  }
}

blockquote {
  font-style: italic;
  position: relative;
  margin: 0;
  padding: 1em 3em;
  color: var(--text-light);

  @include breakpoint(sm) {
    font-size: 1.25em;
  }

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '"';
    position: absolute;
    font-size: 5em;
    display: block;
    height: 1em;
    font-family: cursive;
    top: -0.25em;
    left: -0.125em;
  }
}

hr {
  border: 0;
  margin: 2em 0;
  &::before {
    content: "...";
    text-align: center;
    display: block;
    letter-spacing: 1rem;
  }
}
