@import "../styles/mixins";

.speaker-name {
  @include breakpoint(sm, max) {
    font-size: 3rem;
  }
}

.speaker-twitter {
  background: url("/twitter_speaker.svg") no-repeat left center;
  height: 22px;
  padding-left: 30px;
  line-height: 22px;
  display: inline-block;
  margin-bottom: 4rem;
}
