@import "../styles/mixins";

.content-speaker {
  position: relative;

  @include breakpoint(sm, max) {
    margin-top: 100vw;
    background: white;
    padding-top: 40vw;

    &.multiple {
      margin-top: 70vw;
    }
  }

  @include breakpoint(sm) {
    margin-top: 30rem;
    background-image: url("/pixel_separation_speaker_detail.svg"),
      linear-gradient(to bottom, var(--background-dark) 171px, white 96px);
    background-position: calc(var(--spacing-content) - 280px) top, center top;
    padding-top: calc(267px + var(--spacing-content));
  }

  @include breakpoint(md) {
    background-position: calc((100vw - var(--width-content)) / 2 - 280px) top,
      center top;
  }
}

.speaker-name {
  @include breakpoint(sm, max) {
    font-size: 3rem;
  }
}

.speaker-image-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 0;
  // height: 0;

  @include breakpoint(sm, max) {
    // transform: translateY(-70%);
    width: calc(100vw - 2 * var(--spacing-content));
  }
}

.speaker-image {
  @include clip-hex(30%);

  @include breakpoint(sm, max) {
    transform: translateY(-70%);
    // margin-top: -60%;
    width: 100%;
    height: 100%;
  }

  @include breakpoint(sm) {
    width: 363px;
    // 171px = to part of the pixel graphics
    // 70%  = top part of image until cuttof
    transform: translateY(calc(171px - 70%));
  }
}

.speaker-twitter {
  background: url("/twitter_speaker.svg") no-repeat left center;
  height: 22px;
  padding-left: 30px;
  line-height: 22px;
  display: inline-block;
  margin-bottom: 4rem;
}
