@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-LightItalic.woff") format("woff");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SometypeMono";
  src: url("/fonts/SometypeMono-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "RevojsMono";
  src: url("/fonts/RevojsMono-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@mixin font($type) {
  @if $type == number {
    font-family: "SometypeMono", "Courier New", Courier, monospace;
  } @else if $type == mono {
    font-family: "RevojsMono", "Courier New", Courier, monospace;
  } @else {
    font-family: "WorkSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
