@import "../styles/fonts";
@import "../styles/mixins";

html {
  @include font(default);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;

  background-color: var(--background-dark);
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// Typography

h1,
h2,
h3,
.mono {
  @include font(mono);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.number {
  @include font(number);
}

.highlight {
  color: var(--primary);
}
.light-faded {
  color: var(--text-light);
}

h1 {
  font-size: 4rem;

  @include breakpoint(md) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 4rem;
  margin-top: var(--space-10);
  margin-bottom: var(--space-4);
}

h3 {
  font-size: 1.8rem;
  color: var(--primary);
  margin-top: var(--space-4);
  margin-bottom: var(--space-2);
}

p {
  margin: var(--space-2) 0;
}

ul.bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.bullet > li {
  background: url("/logo-shape.svg") no-repeat;
  background-size: 2.5em;
  background-position: 0 0.30em;
  margin-top: var(--space-2);
  padding-left: 1.25em;
  line-height: 1.4em;
}

button:focus {
  outline: 0;
}
