@import "../styles/fonts";
@import "../styles/mixins";

:root {
  --lightgrey: #dadce1;
  --primary: #f45919;
  --background-dark: #15161a;

  --text-dark: #30343a;
  --text-light: #979da7;

  --spacing-content: 8.33vw;
  --width-content: 690px;
}

html {
  @include font(default);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;

  background-color: var(--background-dark);
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}

a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// Typography

h1,
h2,
h3,
.mono {
  @include font(mono);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.number {
  @include font(number);
}

.highlight {
  color: var(--primary);
}

h1 {
  font-size: 4rem;

  @include breakpoint(md) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 4rem;
  margin-top: 80px;
  margin-bottom: 32px;
}

h3 {
  font-size: 1.8rem;
  color: var(--primary);
  margin-top: 32px;
  margin-bottom: 16px;
}

p {
  margin: 16px 0;
}

ul.bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.bullet > li {
  background: url("/logo-shape.svg") no-repeat;
  background-size: 2.5em;
  background-position: 0 0.65em;
  padding-left: 20px;
  line-height: 2em;
}
