html {
  --darkgrey: #30343a;
  --lightgrey: #adb3bc;
  --primary: #f45919;
  --background-dark: #15161a;
}

html {
  color: var(--darkgrey);
  font-family: "WorkSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}

a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
.heading {
  font-family: "RobotoMono", "Courier New", Courier, monospace;
}

.number {
  font-family: "SometypeMono", "Courier New", Courier, monospace;
}

.faded {
  color: var(--lightgrey);
}
.highlight {
  color: var(--primary);
}

/* header styles */
.active {
  border: 1px var(--primary) solid;
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-LightItalic.woff") format("woff");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SometypeMono";
  src: url("../fonts/SometypeMono-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
