@import "../styles/fonts";
@import "../styles/mixins";

html {
  @include font(default);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;

  background-color: var(--background-dark);
  color: #ffffff;
}

body,
input,
select,
textarea,
button {
  font-size: 1.6rem;
  @include font(default);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// Typography

h1,
h2,
h3,
.mono {
  @include font(mono);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.number {
  @include font(number);
}

.highlight {
  color: var(--primary);
}
.light-faded {
  color: var(--text-light);
}
.dark {
  color: var(--background-dark);
}

h1 {
  font-size: 4rem;

  @include breakpoint(sm) {
    font-size: 6rem;
  }
  @include breakpoint(md) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 2.5rem;
  padding-top: var(--space-4);
  margin-top: 0;
  margin-bottom: var(--space-2);

  &.first {
    margin-top: 0;
  }

  @include breakpoint(sm) {
    font-size: 4rem;
    margin-top: var(--space-10);
    margin-bottom: var(--space-4);
  }
}

h3 {
  font-size: 1.8rem;
  color: var(--primary);
  margin-top: var(--space-6);
  margin-bottom: var(--space-2);
}

p {
  margin: var(--space-2) 0;
}

ul.bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3em;
}
ul.bullet > li {
  background: url("/logo-shape.svg") no-repeat;
  background-size: 2.5em;
  margin-top: var(--space-3);
  margin-left: var(--space-3);
  padding-left: 1.25em;
  line-height: 1.4em;
  background-position: 0 5px;

  @include breakpoint(md) {
    background-position: 0 7px;
  }
}

button:focus {
  outline: 0;
}

.permalink {
  float: none;
  padding-right: 4px;
  margin-left: -24px;
  width: 20px;

  svg {
    height: 1em;
    vertical-align: bottom;
  }
}
