$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

@mixin breakpoint($point, $limit: min) {
  @if $point == lg {
    @media (#{$limit}-width: $breakpoint-lg) {
      @content;
    }
  } @else if $point == md {
    @media (#{$limit}-width: $breakpoint-md) {
      @content;
    }
  } @else if $point == sm {
    @media (#{$limit}-width: $breakpoint-sm) {
      @content;
    }
  } @else {
    @media (#{$limit}-width: $point) {
      @content;
    }
  }
}
