$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;

@mixin breakpoint($point, $limit: min) {
  $offset: 0;
  @if $limit == max {
    $offset: -1;
  }

  @if $point == lg {
    @media (#{$limit}-width: $breakpoint-lg + $offset) {
      @content;
    }
  } @else if $point == md {
    @media (#{$limit}-width: $breakpoint-md + $offset) {
      @content;
    }
  } @else if $point == sm {
    @media (#{$limit}-width: $breakpoint-sm + $offset) {
      @content;
    }
  } @else {
    @media (#{$limit}-width: $point) {
      @content;
    }
  }
}

@mixin clip-hex($cutoff) {
  clip-path: polygon(
    $cutoff 0%,
    100% 0%,
    100% calc(100% - #{$cutoff}),
    calc(100% - #{$cutoff}) 100%,
    0% 100%,
    0% $cutoff
  );
}

@mixin no-clip() {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
}

@mixin separationLightDark() {
  background-image: url("/pixel_separation_team.svg"),
    linear-gradient(to bottom, white 128px, var(--background-dark) 128px);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: calc(256px + var(--spacing-content));
}

@mixin play() {
  content: "";
  display: block;
  background-color: white;
  border-radius: 50%;
  background-image: url("/play-icon.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 58% center;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
