.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  position: absolute;
  width: 25px;
  height: 2px;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 75ms, 150ms;
  transition-property: transform, background;
  border-radius: 2px;
  background-color: #fff;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;

  .active & {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);
  }
}
.hamburger-inner::before {
  display: block;
  content: "";
  top: -8px;
  transition: top 75ms ease 0.12s, opacity 75ms ease;

  .active & {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease 0.12s;
    opacity: 0;
  }
}
.hamburger-inner::after {
  display: block;
  content: "";
  bottom: -8px;
  transition: bottom 75ms ease 0.12s,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

  .active & {
    bottom: 0;
    transition: bottom 75ms ease,
      transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
  }
}

.hamburger-box:hover {
  .hamburger-inner::after,
  .hamburger-inner::before,
  .hamburger-inner {
    background: var(--primary);
  }
}
