@import "../../styles/mixins";

.page-header {
  flex: 1;
  padding: var(--spacing-content);

  @include breakpoint(md, max) {
    padding-top: calc(var(--spacing-content) + 12rem);
  }
  @include breakpoint(md, min) {
    min-height: calc(100vh - 2 * var(--spacing-content));
  }
}
