@import "../styles/mixins";

.about-title {

}
.about-logo-text {
  height: 4rem;
  vertical-align: bottom;

  @include breakpoint(sm) {
    height: 6rem;
  }
  @include breakpoint(md) {
    height: 8rem;
  }
}

.about-important {
  font-size: 20px;
  line-height: 1.7;
  margin-top: 2em;
  display: block;

  span {
    display: block;
  }
}

.about-organizers {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--spacing-content);
  }
}
