@import "../styles/mixins";

.blog-header {
  min-height: auto;
}

.blog-post {
  margin-top: 2em;

  &:first-child {
    margin-top: 0;
  }
}

.blog-post-title {
  margin-top: 0;
  margin-bottom: 0.2em;
}
