html {
  --color-faded: #646974;
}

html {
  background-color: var(--background-dark);
  color: #ffffff;
}

body {
  padding: 3rem;
  font-size: 1.4rem;
}

h2 {
  font-size: 4.5rem;
  padding: 5rem 0;
}
.heading {
  font-size: 3rem;
  font-weight: bold;
  display: block;
}

@media screen and (min-width: 575px) {
  body {
    padding: 6rem;
    font-size: 1.6rem;
  }
  h2 {
    font-size: 6.2rem;
    padding: 0;
  }
  .heading {
    font-size: 4.4rem;
  }
}
@media screen and (min-width: 836px) {
  h2 {
    font-size: 7.2rem;
  }
  main {
    padding: 0 8.33%;
  }
}

.splash {
  min-height: 100vh;
}

.location {
  color: var(--color-faded);
  line-height: 4rem;
}

.loading {
  text-align: right;
  color: var(--color-faded);
  width: 65%;
  padding-bottom: 5rem;
}
.progress-bar {
  height: 4px;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}
.progress {
  width: 20%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10rem;
}
ul li {
  position: relative;
  padding-left: 150px;
}
ul strong {
  color: var(--primary);
  font-size: 8rem;
  line-height: 1;
  font-weight: bold;
  margin: 0;
  display: block;
}
ul span {
  color: var(--color-faded);
  padding-bottom: 4rem;
  display: block;
}
ul strong::after,
ul strong::before,
ul span::after,
ul span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 4px;
  background-color: #ffffff;
}
ul strong::before {
  width: 85px;
  top: 10%;
}
ul strong::after {
  top: 35%;
}
ul span::before {
  top: 60%;
}
ul span::after {
  top: 85%;
}
ul li:last-child span::before {
  opacity: 0.2;
}
ul li:last-child span::after {
  opacity: 0.1;
}

.social-media {
  padding-bottom: 20rem;
}
.social-media a {
  display: inline-block;
  padding-right: 1rem;
  transition: all 0.2s;
}
.social-media a:hover {
  transform: scale(1.1);
}

.copyright {
  color: var(--color-faded);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .contact {
    flex: 1;
  }
  .numbers {
    flex: 1;
  }
}
