@import "../styles/mixins";

.header-index {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.index-logo {
  margin-bottom: var(--space-10);
}

.tagline-block {
  display: block;
}

.date-location {
  margin-top: var(--space-4);
}
.index-date {
  font-size: 20px;
  display: inline-block;
  margin-right: var(--space-2);
}

.index-location {
  font-size: 20px;
  color: var(--primary);
  display: inline-block;
}

.index-cta {
  margin-top: var(--space-10);
}

/*
.description {
  margin-top: 25vh;
  line-height: 1.5;

  @include breakpoint(sm, max) {
    & strong {
      display: block;
    }
  }

  @include breakpoint(sm) {
    font-size: 24px;
    & .highlight {
      display: block;
    }
  }
}
*/
