@import "../styles/mixins";

.workshops-image {
  @include breakpoint(md) {
    background: url("/illustration_workshops.svg") no-repeat;
    background-size: contain;
    background-position: center center;
  }
}
