@import "src/styles/mixins";
@import "src/styles/fonts";

.media {
  background-image: url("/pixel_separation_pages.svg"),
    linear-gradient(to bottom, transparent 128px, white 128px);
}

.after-movie {
  // display: block;
  // margin-top: 2em;
  // @include font(mono);
  // font-weight: bold;

  &:hover {
    text-decoration: none;
  }
  &:hover::after {
    background-color: var(--primary);
  }
}
.after-movie::before {
  background: url("/img-after-movie-2019.jpg");
  background-size: cover;
  background-position: center top;
  content: "";
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.after-movie::after {
  @include play();
  width: 100px;
  height: 100px;
  margin: 0 auto;
  z-index: 2;
  opacity: 1;
  transform: scale(1);
  margin-top: 1em;
}

.media-photos {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.media-photos-list {
  margin-top: calc(2 * var(--spacing-content));

  @include breakpoint(sm, max) {
    margin-top: 10rem;
  }
}

.media-heading {
  font-size: 2.5em;
  padding-left: var(--spacing-content);
  padding-right: var(--spacing-content);
  padding-top: 0;

  @include breakpoint(sm) {
    font-size: 4em;
  }
}

.media-videos-list {
  list-style-type: none;
  padding: 0;
  margin: var(--spacing-content) 0;

  display: grid;
  grid-gap: var(--spacing-content);

  grid-template-columns: 1fr;

  @include breakpoint(sm, max) {
    grid-row-gap: 10rem;
    margin: 10rem 0;
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
