@import "src/styles/mixins";

.media-photos {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.media-photos-list {
  margin-top: calc(2 * var(--spacing-content));

  @include breakpoint(sm, max) {
    margin-top: 10rem;
  }
}

.media-videos {
  text-align: center;
}

.media-heading {
  font-size: 2.5em;
  padding-left: var(--spacing-content);
  padding-right: var(--spacing-content);

  @include breakpoint(sm) {
    font-size: 4em;
  }
}

.media-videos-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-gap: var(--spacing-content);

  grid-template-columns: 1fr;

  @include breakpoint(sm, max) {
    grid-row-gap: 10rem;
    margin-top: 10rem;
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
