@import "../styles/mixins";

.card {
  position: relative;
  width: 100%;

  @include breakpoint(sm) {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
}

.card-info,
.card-info-inner,
.card-img {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  flex: 1;
  overflow: hidden;
}

.card-img {
  @include clip-hex(30%);
  margin: 0;
}
.card-img-inner {
  display: block;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.card-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  .card--white & {
    color: var(--color);
  }

  @include breakpoint(sm) {
    @include clip-hex(30%);
    transform: translateY(-30%);
    background-color: var(--color);
  }
}

.card-info-inner {
  --border: 4px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint(sm) {
    @include clip-hex(30%);
    margin: var(--border);
    background-color: var(--background-dark);
    width: calc(100% - 2 * var(--border));
    height: calc(100% - 2 * var(--border));

    &:last-child {
      padding-bottom: 10%;
    }

    .card--white & {
      background-color: white;
    }
  }
}

.card-heading {
  display: block;
  margin: 0;
  padding-top: var(--space-1);
  transition: color 0.3s;

  @include breakpoint(sm, max) {
    margin-top: var(--space-2);
    font-size: 8vw;
    margin-bottom: var(--space-1);
    line-height: 1.1;
  }

  @include breakpoint(sm) {
    font-size: 4.5vw;
    padding-left: 10%;
    padding-bottom: var(--space-4);
  }
  @include breakpoint(md) {
    font-size: 2vw;
    padding-bottom: var(--space-2);
  }
}

.card:hover .card-img {
  @include breakpoint(sm) {
    transform: translateY(-5%) translateX(5%);
  }
}
.card:hover .card-img-inner {
  transform: scale(1.1);
  text-decoration: none;
}
.card:hover .card-info {
  @include breakpoint(sm) {
    @include clip-hex(20%);
    transform: translateY(-25%) translateX(-5%);
  }
}
.card:hover .card-info-inner {
  @include breakpoint(sm) {
    @include clip-hex(20%);
    background: var(--color);
  }
}

.card--white:hover .card-heading {
  @include breakpoint(sm) {
    color: white;
  }
}
