@import "../styles/mixins";
@import "../styles/fonts";

$darker-background: #060b10;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: var(--background-dark);
  transition: all 0.5s;

  .is-scrolled & {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    background: $darker-background;

    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.header-logo {
  display: block;
  transform: all 0.3s;

  .is-scrolled & {
    height: 25px;
  }
}

.header-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s;

  @include breakpoint(sm, min) {
    display: flex;
  }
  @include breakpoint(sm, max) {
    opacity: 0;
    padding: 2em;
    position: fixed;
    transform: translateX(-100%);
    top: calc(50px + 4em);
    left: 0;
    right: 0;
    bottom: 0;
    min-height: calc(100vh - 50px - 4em);
    background-color: $darker-background;
    border-top: 1px var(--darkgrey) solid;
    border-bottom: 1px var(--darkgrey) solid;
    text-align: right;

    transition: opacity 0.3s;

    .is-scrolled & {
      top: calc(25px + 2em);
      min-height: calc(100vh - 25px - 2em);
    }
    .is-active & {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.header-navigation > li:not(:first-child) {
  @include breakpoint(sm) {
    margin-left: 2em;
  }
  @include breakpoint(sm, max) {
    line-height: 2em;
  }
}

.main-link:link,
.main-link:visited {
  @include font(mono);
  font-weight: bold;
  color: #646974;
  transition: all 0.3s;
}
.main-link:hover {
  color: white;
}
.main-link.active {
  color: var(--primary);
}

#toggle-navigation-button {
  @include breakpoint(sm, max) {
    display: block;
    cursor: pointer;
    z-index: 101;
  }
  @include breakpoint(sm, min) {
    display: none;
  }
}
