@import "../styles/mixins";

@mixin clip-logo($cutoff) {
  clip-path: polygon(
    0px 0px,
    100% 0px,
    100% calc(100% - #{$cutoff}),
    calc(100% - #{$cutoff}) 100%,
    0px 100%,
    0px 0px
  );
}

.logos-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: var(--spacing-content);
  display: grid;
  border-top: 1px var(--lightgrey) solid;
  border-left: 1px var(--lightgrey) solid;
  width: auto;

  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  .edition-2020 & {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }

  &.logos-list--small {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

    @include breakpoint(sm) {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
    }
  }
}
.logos-list > li {
  padding-bottom: 100%;
  position: relative;
  border-right: 1px var(--lightgrey) solid;
  border-bottom: 1px var(--lightgrey) solid;

  &.is-premium {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &.is-wide {
    grid-column: span 2;
    padding-bottom: 50%;
  }
}
.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: contents;
  overflow: hidden;

  img {
    @include no-clip();
    // filter: grayscale(100%);
    background: white;
    transform: translateZ(0);
    transition: filter 0.3s, transform 0.3s;
    background: white;
    transition-timing-function: ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: var(--primary);
    display: block;
    transform: translateY(6px);
    transition: transform 0.3s;
  }

  &:hover {
    img {
      // filter: grayscale(0%);
      transform: translateY(-6px);
    }
    &::after {
      transform: translateY(0);
    }
  }
}
