@import "../styles/mixins";

@mixin clip-logo($cutoff) {
  clip-path: polygon(
    0px 0px,
    100% 0px,
    100% calc(100% - #{$cutoff}),
    calc(100% - #{$cutoff}) 100%,
    0px 100%,
    0px 0px
  );
}

.logos-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: var(--spacing-content);
  display: grid;
  border-top: 1px var(--lightgrey) solid;
  border-left: 1px var(--lightgrey) solid;

  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  width: auto;

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }

  &.logos-list--small {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

    @include breakpoint(sm) {
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
    }
  }
}
.is-premium {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.logos-list > li {
  padding-bottom: 100%;
  position: relative;
  border-right: 1px var(--lightgrey) solid;
  border-bottom: 1px var(--lightgrey) solid;
}
.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: contents;

  img {
    @include no-clip();
    filter: grayscale(100%);
    transform: scale(1) translateZ(0);
    transition: filter 0.3s, clip-path 0.3s;
    background: white;
  }

  &:hover {
    background: black;
    box-shadow: 0 0 0 6px black;
    z-index: 1;

    img {
      @include clip-logo(20%);
      filter: grayscale(0%);
    }
  }
}
