@import "../styles/mixins";
@import "../styles/fonts";

$darker-background: #060b10;

.navigation {
  height: var(--menu-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s;

  .is-scrolled & {
    box-shadow: 0 3px 3px 0 rgba(21, 22, 26, 0.3);
    background: var(--background-dark);
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;

    height: var(--menu-height-scrolled);
  }

  @include breakpoint(lg) {
    padding: 0 3em;
  }
}

.navigation-logo {
  display: block;
  transition: all 0.3s;

  .is-scrolled & {
    transform: scale(0.6);
    transform-origin: center left;
  }
}

@mixin hiddenMenu() {
  opacity: 0;
  padding: 2em;
  position: fixed;
  transform: translateX(-100%);
  top: var(--menu-height);
  left: 0;
  right: 0;
  bottom: 0;
  min-height: calc(100vh - var(--menu-height));
  background-color: $darker-background;
  border-top: 1px var(--text-dark) solid;
  border-bottom: 1px var(--text-dark) solid;
  text-align: right;

  transition: opacity 0.3s, top 0.3s;

  .is-active & {
    transform: translateX(0);
    opacity: 1;
  }

  .is-scrolled & {
    top: var(--menu-height-scrolled);
    min-height: calc(100vh - var(--menu-height-scrolled));
  }
}

.secondary-navigation,
.primary-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s;
}
.primary-navigation {
  @include breakpoint(md, min) {
    display: flex;
  }
  @include breakpoint(md, max) {
    @include hiddenMenu();
  }
}

.secondary-navigation {
  @include breakpoint(md, max) {
    border: 0;
    margin-top: var(--space-4);
  }
  @include breakpoint(md) {
    @include hiddenMenu();
  }
}

.primary-navigation > li:not(:first-child) {
  @include breakpoint(md) {
    margin-left: 1em;
  }
  // @include breakpoint(md, max) {
  //   line-height: 1em;
  // }
}

.main-link:link,
.main-link:visited {
  @include font(mono);
  font-weight: bold;
  color: var(--text-light);
  transition: all 0.3s;
  display: inline-block;
  padding: 0 var(--space-2);

  @include breakpoint(md, max) {
    font-size: var(--space-3);
  }
  @include breakpoint(md, min) {
    line-height: var(--menu-height-scrolled);
    &:not(.secondary) {
      padding: 0 var(--space-2);
    }
  }
}
.main-link:hover {
  color: var(--primary);
  text-decoration: none;
}
.main-link.active {
  color: var(--primary);

  &:not(.secondary) {
    @include breakpoint(md) {
      border-bottom: 3px var(--primary) solid;
    }
  }
}

#toggle-primary-navigation {
  height: var(--menu-height-scrolled);
  padding: 0;
  transform: translateY(2px);

  @include breakpoint(md, max) {
    display: block;
    cursor: pointer;
  }
  @include breakpoint(md, min) {
    display: none;
  }
}

#toggle-secondary-navigation {
  display: none;
  height: var(--menu-height-scrolled);
  // padding: 0 var(--space-1);
  transform: translateY(4px);

  @include breakpoint(md) {
    display: block;
    cursor: pointer;
  }
}
