@import "../styles/mixins";
@import "../styles/fonts";

.navigation {
  height: var(--menu-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s;
  overflow: hidden;

  .is-scrolled & {
    justify-content: space-between;
    box-shadow: 0 6px 10px 0 rgba(21, 22, 26, 0.3);
    background: var(--background-dark);
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    height: var(--menu-height-scrolled);
  }

  @include breakpoint(lg) {
    padding: 0 3em;
  }

  @include breakpoint(md) {
    body:not(.is-scrolled) &.is-home {
      justify-content: center;
    }
  }

  &.is-active {
    height: 100vh;
    background: var(--background-dark);
    justify-content: space-between !important;
    align-items: flex-start;
    overflow: auto;
  }
}

.navigation-logo {
  display: block;
  transition: all 0.3s;

  .is-home & {
    display: none;
    transform: translateY(-100px);
  }

  .is-scrolled & {
    transform: scale(0.6) translateY(0);
    transform-origin: center left;
    display: block;
  }

  .is-active & {
    display: none;
  }
}

@mixin hiddenMenu() {
  height: 0;
  width: 0;
  opacity: 0;
  text-align: right;
  transition: all 0.3s;
  overflow: hidden;

  .is-active & {
    opacity: 1;
    height: auto;
    width: auto;
    padding-bottom: 2em;
    overflow: visible;
  }
}

.secondary-navigation,
.primary-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s;
  text-align: right;
}
.primary-navigation {
  align-items: center;

  @include breakpoint(md, min) {
    display: flex;
    margin-right: 2em;

    .is-active & {
      display: block;
    }
  }
  @include breakpoint(md, max) {
    @include hiddenMenu();
  }
  .is-active & {
    margin-top: calc(var(--menu-height-scrolled) + 2em);
    margin-right: 0;
  }
}

.secondary-navigation {
  margin-top: var(--space-4);
  font-weight: normal;

  @include breakpoint(md) {
    @include hiddenMenu();
  }
}

.main-link:link,
.main-link:visited {
  @include font(mono);
  font-weight: bold;
  color: var(--lightgrey);
  transition: all 0.3s;
  display: inline-block;
  font-size: 4vh;
  line-height: 1.9;

  @include breakpoint(md, min) {
    .navigation:not(.is-active) &:not(.secondary) {
      line-height: calc(var(--menu-height-scrolled) - 3px);
      padding: 0 var(--space-2);
      border-bottom: 3px transparent solid;
    }
    .navigation:not(.is-active) & {
      font-size: inherit;
    }
  }

  &.secondary {
    font-weight: 100;
  }
}
.main-link:hover {
  color: var(--primary);
  text-decoration: none;
}
.main-link.active {
  color: var(--primary);

  // set colored border on active links
  // when menu is not extended
  .navigation:not(.is-active) &:not(.secondary) {
    @include breakpoint(md) {
      border-color: var(--primary);
    }
  }
}

#toggle-primary-navigation {
  height: var(--menu-height-scrolled);
  padding: 0;
  transform: translateY(2px);
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: top 0.3s;
  position: relative;

  @include breakpoint(md, min) {
    position: absolute;
    right: 1.5em;
    top: 2em;

    .is-scrolled & {
      top: 0;
    }
  }

  .is-active & {
    top: 2em !important;
    position: absolute;
    right: 1.5em;
  }
}
