@import "../styles/mixins";

.section {
  padding: var(--spacing-content);

  a:link,
  a:visited {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

.section--light {
  color: var(--text-dark);

  background-image: url("/pixel_separation_pages.svg"),
    linear-gradient(to bottom, var(--dark) 128px, white 128px);
  background-position: center top;
  background-repeat: no-repeat, no-repeat;

  padding-top: calc(256px + var(--spacing-content));
  
  .edition-2023 & {
    background-image: url("/2023/sep-top-black-bottom-white.png"),
      linear-gradient(to bottom, var(--dark) 100px, white 101px);
    padding-top: calc(201px + var(--spacing-content));
  }
}

.section--dark {
  // color: var(--text-dark);

  background-image: url("/pixel_separation_team.svg"),
    linear-gradient(to bottom, white 128px, var(--dark) 128px);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: calc(256px + var(--spacing-content)) !important;
  
  .edition-2023 & {
    background-image: url("/2023/sep-top-white-bottom-black.png"),
      linear-gradient(to bottom, white 100px, var(--dark) 101px);
    padding-top: calc(201px + var(--spacing-content)) !important;
  }
}

.section--centered {
  text-align: center;
}
