@import "../styles/mixins";

$width: 47px;
$gap: 21px;

.separator {
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@include breakpoint(md) {
  .separator::before {
    content: "";
    margin-right: $gap;
  }
}
@include breakpoint(lg) {
  .separator::after {
    content: "";
    margin-left: $gap;
  }
}

.separator::before,
.separator::after,
.separator-content {
  // background-image: url("/sep_arrow_01.svg"), url("/sep_arrow_02.svg"),
  //   url("/sep_arrow_03.svg"), url("/sep_arrow_04.svg");
  // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  // background-position: 0 center, calc(#{$width} + #{$gap}) center,
  //   calc(2 * #{$width} + 2 * #{$gap}) center,
  //   calc(3 * #{$width} + 3 * #{$gap}) center;

  background-image: url("/2020/arrows.svg");
  background-repeat: no-repeat;
  background-position: 0 center;

  height: 69px;
  width: calc(4 * #{$width} + 3 * #{$gap});
}
