@import "../styles/mixins";

.separator {
  margin: 10rem var(--spacing-content);
  background-image: url("/2023/sep-revo-meta.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  height: 100px;
}
