@import "../styles/mixins";

@mixin clip-right($cutoff) {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - #{$cutoff}),
    calc(100% - #{$cutoff}) 100%,
    0% 100%,
    0% $cutoff
  );
}
@mixin clip-left($cutoff) {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    $cutoff 100%,
    0% calc(100% - #{$cutoff})
  );
}

.speaker.odd {
  --background: transparent;
  --color: white;
}
.speaker.even {
  --background: white;
  --color: var(--text-dark);
}

.speaker {
  position: relative;

  background-color: var(--background);

  @include breakpoint(sm) {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  &.even:not(.first)::after {
    @include breakpoint(md) {
      background-image: url("/pixel_separation_speakers.svg");
      // background-size: calc(100vw - 700px);
      background-position: left top;
      background-repeat: no-repeat;
      width: 256px;
      height: 128px;
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      top: -64px;
      left: calc(50% - 128px);
    }
    @include breakpoint(lg) {
      width: 512px;
      left: calc(50% - 256px);
    }
  }
}

.speaker-info,
.speaker-talk,
.speaker-img-inner {
  transition-property: all;
  transition-duration: 0.3s;
}

.speaker-img {
  margin: 0;

  .odd & {
    @include clip-right(30%);
  }
  .even & {
    @include clip-left(30%);
  }

  @include breakpoint(sm, max) {
    width: 100%;
  }

  @include breakpoint(sm) {
    width: 400px;

    .odd & {
      order: 0;
    }
    .even & {
      order: 1;
    }
  }
}

.speaker-img-inner {
  .speakers-link:hover & {
    transform: scale(1.1);
  }
}

.speaker-info {
  flex: 1;
  color: var(--color);
  padding-left: var(--spacing-content);
  padding-right: var(--spacing-content);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .speakers-link:hover & {
    padding-left: 12vw;
    padding-right: calc(var(--spacing-content) - 2vw);
    color: var(--primary);
  }

  @include breakpoint(sm, max) {
    padding-bottom: 5em;
  }

  @include breakpoint(sm) {
    padding-left: 10vw;
  }
}

.speaker-name {
  display: block;
  margin: 0;
  padding: 0;

  @include breakpoint(sm, max) {
    font-size: 7vw;
    line-height: 1.1;
    margin-top: 1em;
  }

  @include breakpoint(sm) {
    font-size: 4vw;
  }
}

.speaker-title {
  line-height: 1.2;
  color: var(--text-light);
  margin-top: 0.5em;
}

.speaker-talk {
  font-size: 4vw;
  color: var(--color);
  margin: 1em 0 0 0;

  @include breakpoint(sm) {
    font-size: 2vw;
    margin-top: 2em;
  }

  .speakers-link:hover & {
    color: var(--primary);
  }
}
