@import "../styles/mixins";

.index-speaker {
  position: relative;
  width: 100%;

  @include breakpoint(sm) {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
}

.index-speaker-info,
.index-speaker-info-inner,
.index-speaker-img {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  flex: 1;
  overflow: hidden;
}

.index-speaker-img {
  @include clip-hex(30%);
  margin: 0;
}
.index-speaker-img-inner {
  display: block;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.index-speaker-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(sm) {
    @include clip-hex(30%);
    transform: translateY(-30%);
    background-color: var(--primary);
  }
}

.index-speaker-info-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include breakpoint(sm) {
    @include clip-hex(30%);
    margin: 3px;
    background-color: var(--background-dark);
    width: calc(100% - 2 * 3px);
    height: calc(100% - 2 * 3px);

    &:last-child {
      padding-bottom: 10%;
    }
  }
}

.index-speaker-name {
  display: block;
  margin: 0;
  padding-top: var(--space-1);

  @include breakpoint(sm, max) {
    margin-top: var(--space-2);
    font-size: 8vw;
    margin-bottom: var(--space-1);
    line-height: 1.1;
  }

  @include breakpoint(sm) {
    font-size: 5vw;
    padding-left: 10%;
    padding-bottom: var(--space-4);
  }
  @include breakpoint(md) {
    font-size: 2vw;
    padding-bottom: var(--space-2);
  }
}
.index-speaker-firstname,
.index-speaker-lastname {
  @include breakpoint(sm) {
    display: block;
  }
}
.index-speaker-title {
  display: block;
  line-height: 1.2;
  color: var(--text-light);
  transition: color 0.3s;

  @include breakpoint(sm) {
    padding: 0 20% 0 10%;
  }
}
.index-speaker-company {
  display: block;
  color: var(--primary);
  transition: color 0.3s;

  @include breakpoint(sm) {
    // padding: 0 15% 15% 15%;
    padding: 0 20% 0 10%;
  }
}

.index-speaker:hover .index-speaker-img {
  @include breakpoint(sm) {
    transform: translateY(-5%) translateX(5%);
  }
}
.index-speaker:hover .index-speaker-img-inner {
  transform: scale(1.1);
}
.index-speaker:hover .index-speaker-info {
  @include breakpoint(sm) {
    @include clip-hex(20%);
    transform: translateY(-25%) translateX(-5%);
  }
}
.index-speaker:hover .index-speaker-info-inner {
  @include breakpoint(sm) {
    @include clip-hex(20%);
    background: var(--primary);

    .index-speaker-title {
      color: white;
    }
    .index-speaker-company {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
