@import "../styles/mixins";
@import "../styles/fonts";

.subscribe-form {
  display: flex;

  @include breakpoint(sm) {
    max-width: 500px;
  }
}
.subscribe-form--centered {
  margin: 0 auto;
}

.subscribe-input {
  border: 0;
  border-bottom: 1px var(--text-dark) solid;
  border-radius: 0;
  height: 54px;
  background: 0;
  line-height: 54px;
  flex: 1;
  box-sizing: border-box;
  // margin-right: 24px;
  color: white;
  @include font(mono);
  font-weight: bold;

  &:focus {
    outline: 0;
    border-color: var(--primary) !important;
  }

  .subscribe-form--light & {
    color: var(--text-dark);
    border-bottom: 1px var(--lightgrey) solid;
  }
}
.subscribe-button {
  box-sizing: border-box;
  background: var(--primary);
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.subscribe-button-arrow {
  width: 54px;
  height: 54px;
}
