@import "../styles/mixins";
@import "../styles/fonts";

.talk-video-link {
  position: relative;
  display: block;
  text-align: left;
}
.talk-video-link:hover {
  text-decoration: none;
}

.talk-video-image {
  @include clip-hex(30%);

  .talk-video-link &::before {
    @include play();
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 5%;
    left: 5%;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
  }

  .talk-video-link:hover & {
    filter: sepia(100%) hue-rotate(-15deg);
  }
  .talk-video-link:hover &::before {
    transform: scale(1);
    opacity: 1;
  }
}

.talk-video-speaker {
  @include font(mono);
  margin-top: 1em;
  display: block;
  color: white;
  font-size: 1.2em;
}

.talk-video-title {
  @include font(mono);
  font-weight: bold;
}
