@import "../styles/mixins";
@import "../styles/fonts";

.title2020 {
  --offset1: 50%;
  --offset2: 68%;
  --height: calc(1em * 1.1);
  --spacing: -3px;

  @include font(mono);
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  line-height: 1;
  height: var(--height);
  color: var(--primary);
  margin-bottom: calc(var(--height));
  text-align: center;

  &::after,
  &::before {
    transform: translateY(var(--spacing));
    height: var(--height);
    content: attr(data-content);
    color: var(--accent60);
    position: absolute;
    display: block;
    top: calc(var(--height) - var(--offset1));
    left: 0;
    right: 0;
    clip-path: polygon(
      0% var(--offset1),
      100% var(--offset1),
      100% 100%,
      0% 100%,
      0% var(--offset1)
    );
  }

  &::after {
    transform: translateY(calc(2 * var(--spacing)));
    color: var(--accent);
    clip-path: polygon(
      0% var(--offset2),
      100% var(--offset2),
      100% 100%,
      0% 100%,
      0% var(--offset2)
    );
    top: calc(var(--height) + var(--offset1) - var(--offset2));
  }
}
