@import "../styles/mixins";
@import "../styles/fonts";

.workshop-title {
  font-size: 3.5rem;
  padding-top: 2em;
  margin-top: -2em;

  @include breakpoint(sm) {
    font-size: 4.5rem;
  }
  @include breakpoint(md) {
    font-size: 6rem;
  }
}

.workshop-header {
  margin-top: 5em;
  @include breakpoint(sm) {
    display: flex;
    align-items: flex-start;
  }
}

.speaker-info {
  padding-left: 0;

  @include breakpoint(sm) {
    padding-left: 2em;
  }
}
.speaker-name {
  margin: 0;
  font-size: 24px;
  padding-top: 1em;

  @include breakpoint(sm) {
    padding-top: 0.25em;
  }
}

.speaker-title {
  margin-top: 1em;
  display: block;
}

.speaker-twitter {
  display: block;
  margin-top: 0.5em;
}

.workshop-speaker-img {
  margin: 0;
  @include clip-hex(30%);

  @include breakpoint(sm, max) {
    width: 100%;
  }

  @include breakpoint(sm) {
    width: 180px;
  }
}

.workshop-info {
  dd {
    margin: 0;
    padding-bottom: 1em;
  }

  .spots {
    @include font(number);
    font-size: 2em;
  }

  @include breakpoint(sm) {
    margin-top: 5em;
  }
}

.workshop-purchase-button {
  @include breakpoint(sm, max) {
    margin-bottom: 3em;
  }
}
