@import "src/styles/mixins";

.header-index2020 {
  text-align: center;
}

.index-logo {
  margin-bottom: var(--space-4);
}

.tagline-block {
  display: block;
}

.date-location {
  margin-top: var(--space-4);
}
.index-date {
  font-size: 24px;
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-location {
  font-size: 24px;
  color: var(--primary);
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-cta {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.home-graphics {
  background-image: url("/2020/homepage_illustration.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  height: 50vw;

  @include breakpoint(md) {
    margin: 0 var(--spacing-content);
  }
}
