@import "src/styles/mixins";

.header-index2020 {
  text-align: center;
}

.index-logo {
  // margin-bottom: var(--space-4);
}

.date-location {
  margin-top: 0;
}
.index-date {
  font-size: 24px;
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-location {
  font-size: 24px;
  color: var(--primary);
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-cta {
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.index-title {
  font-size: 4rem;

  @include breakpoint(md) {
    font-size: 6rem;
  }
}

.home-graphics {
  background-image: url("/2020/homepage_illustration.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;

  height: calc(50vw - 2 * var(--spacing-content));

  @include breakpoint(md) {
    margin: 0 var(--spacing-content);
  }
}
