@import "src/styles/mixins";
@import "src/styles/fonts";

.index-logo {
  margin-top: 2rem;
}

.date-location {
  margin-top: 1em;
  line-height: 1;
}
.index-date {
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-location {
  color: var(--primary);
  display: inline-block;
  margin: 0 var(--space-1);
}

.index-cta {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.index-title {
  font-size: 4rem;

  @include breakpoint(md) {
    font-size: 6rem;
  }
}

.index-tagline-2020 {
  font-size: 15vw;
  font-weight: bold;
  line-height: 1;
  @include font(mono);

  @include breakpoint(lg) {
    font-size: 10vw;
  }
}
