@import "src/styles/mixins";
@import "src/styles/fonts";

.tickets-image {
  @include breakpoint(md) {
    background: url("/illustration_tickets.svg") no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.tickets-important {
  font-size: 20px;
}

.tickets-cta {
  display: inline-block;
}

.tickets-timeline {
  --size: 15px;
  --thickness: 3px;
  --gap: 0px;
}

.tag-wrapper {
  display: flex;
  white-space: nowrap;
  font-size: 14px;

  @include breakpoint(sm) {
    font-size: inherit;
  }
}
.tag-early {
  justify-self: flex-start;
  color: white;
}
.tag-regular {
  // justify-self: center;
  justify-self: flex-start;
  // text-align: center;
  color: var(--primary);
}
.tag-late {
  justify-self: flex-end;
  color: #c61212;
  // text-align: right;
}

.tickets-timeline {
  display: flex;
  list-style-type: none;
  counter-reset: step;
  padding: 0;
  margin: 1.5em 0 4em 0;
  font-size: 12px;
  color: var(--text-light);
}

.tickets-timeline li {
  flex: 1;
  text-align: center;
  position: relative;
}

.tickets-timeline li::first-letter {
  color: blue;
}

.tickets-timeline li:before {
  margin: 0 auto 1rem auto;
  counter-increment: step;
  content: "";
  width: calc(var(--size) - 2 * var(--thickness));
  height: calc(var(--size) - 2 * var(--thickness));
  display: block;
  border-radius: 50%;
  border-width: var(--thickness);
  border-style: solid;
}

.tickets-timeline li:not(:last-child)::after {
  content: "";
  display: block;
  height: var(--thickness);
  width: calc(100% - var(--size) - var(--gap) * 2);
  position: absolute;
  top: calc((var(--size) - var(--thickness)) / 2);
  right: calc(-50% + var(--size) / 2 + var(--gap));
  z-index: -1;
}

.early::before {
  border-color: white;
}
.early::after {
  background: white;
}
.regular::before {
  border-color: var(--primary);
}
.regular::after {
  background: var(--primary);
}
.late::before {
  border-color: #c61212;
}
.late::after {
  background: #c61212;
}
