@import "src/styles/mixins";
@import "src/styles/fonts";

.tickets-rollout-2020 {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 0;
    flex: 1;
    font-size: 16px;

    @include breakpoint(sm) {
      flex-wrap: nowrap;
    }
  }

  .ticket-price {
    background-color: var(--color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 60px;
    width: 120px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-right: 1.5em;

    @include font(mono);
    @include clip-hex(15px);
  }
  .ticket-content {
    flex: 1;
    order: 3;
    margin-top: 1em;

    @include breakpoint(sm) {
      order: initial;
      margin-top: 0;
    }
  }

  .ticket-name {
    @include font(mono);
    display: block;
    font-size: 22px;
    line-height: 1;
  }

  .ticket-note {
    @include font(mono);
    font-size: 24px;
    align-self: flex-start;
    line-height: 1;
    color: var(--color);
    width: calc(100% - 120px - 2em);
    margin-top: 10px;

    @include breakpoint(sm) {
      text-align: right;
      width: auto;
      font-size: 36px;
      margin-top: 0;
    }
  }
}

.tickets-rollout-2020--early {
  --color: var(--accent);
}
.tickets-rollout-2020--regular {
  --color: var(--accent60);
}
.tickets-rollout-2020--late {
  --color: var(--primary);
}
.tickets-rollout-2020--inactive {
  --color: var(--text-light);

  .ticket-content {
    text-decoration: line-through;
    color: var(--color);
  }
}
