@import "src/styles/mixins";
@import "src/styles/fonts";

.agenda_image {
  background: url("/2023/h-agenda.png") no-repeat;
  background-size: contain;
  background-position: center center;
}

.nav_wrapper {
  position: sticky;
  top: var(--menu-height-scrolled);
  z-index: 1;
  box-shadow: none;

  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: var(--dark);
  background-image: url("/2023/sep-top-black-bottom-white.png");
  background-size: cover;
  min-height: 90px;

  @include breakpoint(sm) {
    min-height: 120px;
  }
}

.nav {
  display: flex;
  margin: 0 auto;

  @include breakpoint(sm) {
    max-width: 350px;
    gap: 3em;
  }

  a {
    flex: 1;
    text-align: center;
    height: 42px;
    position: relative;
    color: white;

    @include breakpoint(sm) {
      height: 54px;
      font-size: 2rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    strong {
      display: block;
      line-height: 1.2;
      font-size: 16px;

      @include breakpoint(sm) {
        font-size: 18px;
      }
    }

    span {
      font-size: 70%;
      line-height: 1;
    }

    &.active {
      color: var(--primary);
    }

    &.active::after {
      content: "";
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      background-color: var(--primary);
      border-radius: 50%;
      margin: 0 auto;
      margin-left: 50%;
      bottom: 0;
      transform: translateY(-4px) translateX(-50%);

      @include breakpoint(sm) {
        width: 6px;
        height: 6px;
        transform: translateY(-2px) translateX(-50%);
      }
    }
  }
}

.nav_title {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.note {
  margin: 0;
  padding-top: 5em;
  text-align: center;
}

.content_wrapper {
  padding: var(--spacing-content);
  background-color: white;
  color: var(--text-dark);
}

.content {
  padding-top: 13rem;

  @include breakpoint(md) {
    padding-top: 17rem;
    display: flex;
  }

  h2 {
    margin: 0;
    padding-top: 0rem;
  }
}

.day_header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint(md) {
    border-top: 1px #eee solid;
    padding-right: 10rem;
  }
}
.day_title {
  display: block;
  color: var(--text-light);
  @include breakpoint(md) {
    margin-top: 1em;
  }
}
.day_weekday {
  @include breakpoint(md) {
    display: block;
  }
}

.slots {
  padding: 0;
  margin: 0;
  flex: 1;
  list-style-type: none;
}

.slot {
  padding: 2rem 0;
  border-top: 1px #eee solid;
  display: flex;

  @include breakpoint(sm) {
    gap: 1em;
    align-items: center;
  }

  @include breakpoint(md) {
    gap: 4em;
  }

  &.coffee {
    color: var(--text-light);
  }

  &.talk .slot_time {
    color: var(--primary);
  }

  a:link,
  a:visited {
    color: inherit;
  }

  &.talk {
    @include breakpoint(sm, max) {
      flex-direction: column;
      gap: 0.25em;
    }
  }
}

.slot_afterparty {
  display: flex;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.slot_afterparty_title {
  font-size: 20px;
  display: block;
  @include font(mono);
  margin: 0;
  line-height: 1.2;
  color: inherit;
  min-width: 4em;

  @include breakpoint(sm, max) {
    font-size: 16px;
  }
}

.slot_afterparty_label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include font(mono);
  
  font-size: 14px;
  @include breakpoint(sm) {
    font-size: 16px;
  }
}

.slot_afterparty_content {
  display: flex;
  margin: 0;
  flex: 1;
  justify-content: space-between;
  
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
  }

  img {
    height: 60px;

    @include breakpoint(sm) {
      height: 110px;
    }
  }
}

.slot_afterparty_time {
  font-size: 20px;
  display: flex;
  @include font(mono);
  margin: 0;
  line-height: 1.2;
  color: inherit;
  min-width: 4em;

  @include breakpoint(sm, max) {
    font-size: 16px;
  }
}

.slot_title,
.slot_time {
  font-size: 20px;
  display: block;
  @include font(mono);
  margin: 0;
  line-height: 1.2;
  color: inherit;
  min-width: 4em;
  text-wrap: balance;

  @include breakpoint(sm, max) {
    font-size: 16px;
  }
}

.slot_content {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  align-items: center;
  gap: 1em;
  flex: 1;
  justify-content: space-between;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.speakers {
  display: flex;
  margin: 0;
  margin-top: 1rem;
  align-items: center;
}

.speaker_image {
  width: 70px;
  @include clip-hex(30%);
  margin-right: 1rem;
}

.cta {
  font-size: 3rem;
  @include font(mono);
  margin-top: 2em;
  font-weight: bold;
  line-height: 1.2;
}
