@import "src/styles/mixins";
@import "src/styles/fonts";

@import "src/styles/mixins";

.edition-2023 {
  .header-index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include breakpoint(sm, max) {
      min-height: calc(100vh - var(--spacing-content) - var(--menu-height));
      padding-top: var(--menu-height);
    }
    @include breakpoint(sm) {
      justify-content: flex-start;
    }
  }

  .header-content {
    @include breakpoint(sm, max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // flex: 1;
    }
  }

  .index-graphics {
    @include breakpoint(sm) {
      background-image: url("/homepage_bg_left.svg"),
        url("/2020/homepage_bg_right.svg");
      background-position: -150px top, calc(100% + 150px) top;
      background-repeat: no-repeat, no-repeat;
    }
    @include breakpoint(lg) {
      background-position: left top, right top;
    }
  }

  .index-logo {
    margin: 10vh 0;
    @include breakpoint(sm) {
      // margin: 6vh 0;
    }
  }

  .index-tagline {
    font-size: 15vw;
    font-weight: bold;
    line-height: 1;
    @include font(mono);

    @include breakpoint(sm) {
      font-size: 100px;
      margin-top: 4rem;
    }
    @include breakpoint(lg) {
      font-size: 160px;
    }

    perspective: 100vw;

    div {
      position: relative;
      width: 0.65em;
      height: 1em;
      display: inline-block;
    }
  }

  .flip {
    animation-name: flip;
    animation-duration: 2s;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.6s ease-in-out;
    transform-origin: center 9.5vw;
    animation-fill-mode: both;

    @include breakpoint(sm) {
      transform-origin: center 63px;
    }
    @include breakpoint(lg) {
      transform-origin: center 100px;
    }
  }

  .flip1 {
    animation-delay: 0.1s;
    animation-name: flip1;
  }
  .flip2 {
    animation-delay: 0.2s;
    animation-name: flip2;
  }
  .flip3 {
    animation-delay: 0.3s;
    animation-name: flip3;
  }
  .flip4 {
    animation-delay: 0.4s;
    animation-name: flip4;
  }
  .flip5 {
    animation-delay: 0.5s;
    animation-name: flip5;
  }
  .flip6 {
    animation-delay: 0.6s;
    animation-name: flip6;
  }
  .flip7 {
    animation-delay: 0.7s;
    animation-name: flip7;
  }

  @mixin flip($name, $color) {
    @keyframes #{$name} {
      0% {
        transform: rotateX(0deg);
        opacity: 0;
        color: #{$color};
      }
      50% {
        transform: rotateX(180deg);
        opacity: 1;
        color: #{$color};
      }
      100% {
        transform: rotateX(360deg);
        opacity: 1;
        color: #ffffff;
      }
    }
  }

  @include flip(flip1, var(--primary));
  @include flip(flip2, var(--accent20));
  @include flip(flip3, var(--accent40));
  @include flip(flip4, var(--accent60));
  @include flip(flip5, var(--accent80));
  @include flip(flip6, var(--accent));
  @include flip(flip7, var(--accent100));

  .date-location {
    margin-top: 2vh;
    line-height: 1;
    font-size: 20px;
  }
  .index-date {
    display: inline-block;
    margin: 0 var(--space-1);
  }
  .index-location {
    color: var(--primary);
    display: inline-block;
    margin: 0 var(--space-1);
  }

  .index-cta {
    margin: 12vh 0;
  }
}
