@import "src/styles/mixins";
@import "src/styles/fonts";

@import "src/styles/mixins";

.edition-2023 {
  .header-index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include breakpoint(sm, max) {
      min-height: calc(100vh - var(--spacing-content) - var(--menu-height));
      padding-top: var(--menu-height);
    }
    @include breakpoint(sm) {
      justify-content: flex-start;
    }
  }

  .re-prefix {
    color: var(--primary);
  }

  .index-title {
    line-height: 0.9;
    @include breakpoint(md) {
      font-size: 12rem;
    }
  }

  .header-content {
    @include breakpoint(sm, max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // flex: 1;
    }
  }

  .index-graphics {
    background: url("/2023/h-main.png") no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .index-logo {
    margin: 10vh 0;
    @include breakpoint(sm) {
      // margin: 6vh 0;
    }
  }

  .date-location {
    margin-top: 20vh;
    margin-left: var(--space-1);
    line-height: 1;
    font-size: 20px;
  }
  .index-date {
    display: inline-block;
    margin: 0 var(--space-1);
  }
  .index-location {
    display: inline-block;
    margin: var(--space-1);
  }

  .index-cta {
    margin: 12vh 0;
  }
}
