@import "src/styles/mixins";
@import "src/styles/fonts";

@import "src/styles/mixins";

.title {
  line-height: 0.9;
  font-size: 15vw;
  margin-left: -0.1em;

  @include breakpoint(sm) {
    font-size: 6vw;
  }
}

.index_header {
  display: grid;
  grid-template-columns: 1fr;
  
  @include breakpoint(sm) {
    margin-top: auto;
    justify-items: center;
    align-items: center;
    gap: 1vw;
    padding-left: 5vw;
    grid-template-columns: auto 1fr;
  }

  &::after {
    @include breakpoint(sm) {
      content: "";
      // height: 100%;
      min-height: 40vw;
      display: block;
      background: url("/2023/h-main.png") no-repeat;
      background-size: contain;
      background-position: left center;
      aspect-ratio: 1/1;
    }
  }
}

.location {
  margin-top: 1.5em;
  line-height: 1.2;
  font-size: clamp(12px, 5vw, 20px);
  display: block;
  
  @include breakpoint(sm) {
    font-size: 1.5vw;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 20vh;

  @include breakpoint(sm) {
    padding-top: 15vh;
    flex-direction: row;
  }
}

.revo_symbol {
  width: 40px;
}

.tagline {
  line-height: 1.3;
  font-size: 12px;
  display: flex;
  gap: 1.5em;
  align-items: center;
  color: var(--text-light);

  @include breakpoint(sm) {
    font-size: 12px;
  }

  strong {
    white-space: nowrap;
    display: block;
  }
}
