@import "src/styles/mixins";
@import "src/styles/fonts";

.title {
  --width: 2em;
  margin-top: 2em;
}

.after-movie-title {
  font-size: 4rem;
}

.after-movie {
  display: block;
  @include font(mono);
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
  &:hover::after {
    background-color: var(--primary);
  }
}

.header {
  background: rgb(21, 22, 27);
  background: linear-gradient(
    180deg,
    rgba(21, 22, 27, 0) 0%,
    rgba(21, 22, 27, 0) 35%,
    rgba(21, 22, 27, 0) 45%,
    rgba(21, 22, 27, 0.15) 50%,
    rgba(21, 22, 27, 0.4) 70%,
    rgba(21, 22, 27, 0.65) 80%,
    rgba(21, 22, 27, 0.75) 85%,
    rgba(21, 22, 27, 0.85) 90%,
    rgba(21, 22, 27, 0.9) 95%,
    rgba(21, 22, 27, 1) 100%
  );
}

.after-movie::before {
  background: url("/2023/img-after-movie-2023.jpg");
  background-size: cover;
  background-position: center top;
  content: "";
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.after-movie::after {
  @include play();
  width: 100px;
  height: 100px;
  margin: 0 auto;
  z-index: 2;
  opacity: 1;
  transform: scale(1);
  margin-top: 1em;
}

.media-photos {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.media-heading {
  padding-left: var(--spacing-content);
  padding-right: var(--spacing-content);
  padding-top: 0;

  @include breakpoint(sm) {
    font-size: 4em;
  }
}

.media-photos-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: var(--space-16) 0;
  margin: 0 var(--spacing-content);
  margin-top: 15em;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: calc((100vw - 2 * var(--spacing-content)) / 4 * 40 / 100) 0;
  }
}

.media-photos-list > li.last-odd {
  @include breakpoint(md) {
    transform: translateX(
      calc((100vw - 2 * var(--spacing-content)) / 4 * 70 / 100)
    );
  }
}
.media-photos-list > li:nth-child(even) {
  @include breakpoint(md) {
    transform: translateY(
      calc((100vw - 2 * var(--spacing-content)) / 4 * 10 / 100)
    );
  }
}

.media-videos-list {
  list-style-type: none;
  padding: 0;
  margin: var(--spacing-content) 0;

  display: grid;
  grid-gap: var(--spacing-content);

  grid-template-columns: 1fr;

  @include breakpoint(sm, max) {
    grid-row-gap: 10rem;
    margin: 10rem 0;
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.media-video {
  div {
    filter: grayscale(1);
    clip-path: none;

    &::before {
      @include play();
      position: absolute;
      width: 20%;
      height: 20%;
      bottom: 5%;
      left: 5%;
      z-index: 2;
      opacity: 0;
      transform: scale(0);
    }

    &:hover {
      filter: none;

      &::before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  strong {
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 0;
  }

  span {
    line-height: 1;
  }
}
