@import "src/styles/mixins";
@import "src/styles/fonts";

.organizers {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--spacing-content);
  }
}

.organizers-team {
  text-align: center;
}

.team-list {
  list-style-type: none;
  padding: 5rem 0;
  margin: 0;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }
}

.team-member {
  position: relative;
  overflow: hidden;
  padding-bottom: 2em;

  &::after {
    content: "";
    transform: translateY(105%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    // mix-blend-mode: screen;
    filter: opacity(0.7);
    transition: transform 0.3s;
  }

  &:hover .team-member-title,
  &:hover .team-member-name,
  &:hover::after {
    transform: translateY(0);
  }
}

.team-member-name {
  @include font(mono);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  line-height: 1.1;
  text-align: center;
  transform: translateY(200%);
  transition: transform 0.3s;
  transition-delay: 75ms;
  z-index: 1;
  font-size: 1.5rem;

  @include breakpoint(sm) {
    font-size: 2rem;
  }
  @include breakpoint(md) {
    font-size: 2.5rem;
  }
}
.team-member-title {
  display: block;
  color: black;
  padding: 0.5em;
  line-height: 1.2;
  transform: translateY(300%);
  transition-delay: 100ms;
  font-size: 1rem;

  @include breakpoint(sm) {
    font-size: 1.5rem;
  }
  @include breakpoint(md) {
    font-size: 2rem;
  }
}
