@import "src/styles/mixins";

.speakers-image {
  @include breakpoint(md) {
    background: url("/illustration_speakers.svg") no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.speakers-important {
  line-height: 1.7;
  font-size: 16px;

  @include breakpoint(sm) {
    font-size: 24px;
  }
}

.speakers-list {
  padding: 0;
  margin: 0;
}

.speakers-list a:link,
.speakers-list a:hover {
  text-decoration: none;
}

.speakers-bottom {
  background: white;
}
