@import "src/styles/mixins";

.sponsors-heading {
  margin-top: 2em;
}

.supporters-image {
  background: url("/2023/h-supporters.png") no-repeat;
  background-size: contain;
  background-position: center center;
}
