@import "../../styles/mixins";

.index-speakers-title {
  padding-bottom: var(--spacing-content);
  text-align: center;
}

.index-speakers-more {
  margin-top: 5em;
  text-align: center;
  margin: 0 var(--spacing-content);
}
