@import "../../styles/mixins";

.updates-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 6em;
  display: grid;
  grid-gap: var(--spacing-content);

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}

.updates-list a {
  &:link,
  &:visited {
    color: white;
    display: block;
    padding-top: 1.5em;
    position: relative;
  }

  &::before {
    content: "";
    background: white;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s;
    animation-name: lineSwitchOff;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }

  &::after {
    content: "";
    background-image: url("/arrow.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0;
    top: -31px;
    transition: all 0.3s;
  }

  &:hover {
    text-decoration: none;

    &::before {
      animation-name: lineSwitchOn;
      animation-duration: 0.6s;
      animation-fill-mode: both;
    }

    &::after {
      right: -10px;
    }

    .update-title {
      transform: translateY(-3em);
      color: var(--primary);
    }
    .update-content {
      transform: translateY(-3em);
      color: white;
    }
  }
}

.update-title {
  font-size: 18px;
  margin-bottom: 4px;
  display: block;
  transition: 0.3s;
  transition-delay: 0.1s;
}
.update-content {
  margin-top: 0;
  display: block;
  transition: 0.3s;
  transition-delay: 0.1s;
}

@keyframes lineSwitchOn {
  0% {
    width: 100%;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    background-color: white;
  }
  49% {
    width: 0;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    background-color: white;
  }
  50% {
    width: 0;
    top: auto;
    bottom: 1em;
    right: auto;
    left: 0;
    background-color: var(--primary);
  }
  100% {
    width: 100%;
    top: auto;
    bottom: 1em;
    right: auto;
    left: 0;
    background-color: var(--primary);
  }
}

@keyframes lineSwitchOff {
  0% {
    width: 100%;
    top: auto;
    bottom: 1em;
    right: 0;
    left: auto;
    background-color: var(--primary);
  }
  49% {
    width: 0;
    top: auto;
    bottom: 1em;
    right: 0;
    left: auto;
    background-color: var(--primary);
  }
  50% {
    width: 0;
    top: 0;
    bottom: auto;
    right: auto;
    left: 0;
    background-color: white;
  }
  100% {
    width: 100%;
    top: 0;
    bottom: auto;
    right: auto;
    left: 0;
    background-color: white;
  }
}
